<!-- ===========================================================-->
<!-- TABLEAU ANALYTICS                                          -->
<!--                                                            -->
<!-- Issue:       29-Aug-2022                                   -->
<!-- Presentation:12-Sep-2022                                   -->
<!-- Team:        Team 6                                        -->
<!-- Note:        Heroku deployment                             -->
<!-- ===========================================================-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Embedded Analytics with Tableau</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <style>
        h4 {
            text-align: center;
        }

        p {
            text-align: center;
        }
    </style>
</head>
<body>

<div class="hero text-center">
    <h1>Credit Score Analysis</h1>
</div>

<div class="row">
    <ol>
        “Create an analysis of existing data to make a prediction, classification, or regression.”
        As per final project requirements:
        <li>Outline data set used/source:</li>
        <b>Credit score classification from kaggle.com:</b><br>
        <a href='https://www.kaggle.com/datasets/parisrohan/credit-score-classification' target="_new">https://www.kaggle.com/datasets/parisrohan/credit-score-classification</a>
        <br><br>
        A data set that contains a range of credit-related information, both numerical and categorical.<br>
        The goal of our ML model is to predict the credit score of an individual based on variables contained in the
        data set.<br><br>

        <b>From equifax.com: </b> <br>

        A credit score is a three-digit number designed to represent the likelihood you will pay your bills on time.
        There are many different credit scores and scoring models. Higher credit scores generally result in more
        favourable credit terms.
        <hr>
        <li>Prediction:</li>
        Variables contained in the data set include:
      <br>
        <table>
            <colgroup>
                <col span="1" style="width: 30%;">
                <col span="1" style="width: 70%;">
            </colgroup>
            <tbody>
            <tr>
                <td>ID</td>
                <td>Represents a unique identification of an entry</td>
            </tr>
            <tr>
                <td>Customer_ID</td>
                <td>Represents a unique identification of a person</td>
            </tr>
            <tr>
                <td>Month</td>
                <td>Represents the month of the year</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Represents the name of a person</td>
            </tr>
            <tr>
                <td>Age</td>
                <td>Represents the age of the person</td>
            </tr>
            <tr>
                <td>SSN</td>
                <td>Represents the social security number of a person</td>
            </tr>
            <tr>
                <td>Occupation</td>
                <td>Represents the occupation of the person</td>
            </tr>
            <tr>
                <td>Annual_Income</td>
                <td>Represents the annual income of the person</td>
            </tr>
            <tr>
                <td>Monthly_Inhand_Salary</td>
                <td>Represents the monthly base salary of a person</td>
            </tr>
            <tr>
                <td>Num_Bank_Accounts</td>
                <td>Represents the number of bank accounts a person holds</td>
            </tr>
            <tr>
                <td>Num_Credit_Card</td>
                <td>Represents the number of other credit cards held by a person</td>
            </tr>
            <tr>
                <td>Interest_Rate</td>
                <td>Represents the interest rate on credit card</td>
            </tr>
            <tr>
                <td>Num_of_Loan</td>
                <td>Represents the number of loans taken from the bank</td>
            </tr>
            <tr>
                <td>Type_of_Loan</td>
                <td>Represents the types of loan taken by a person</td>
            </tr>
            <tr>
                <td>Delay_from_due_date</td>
                <td>Represents the average number of days delayed from the payment date</td>
            </tr>
            <tr>
                <td>Num_of_Delayed_Payment</td>
                <td>Represents the average number of payments delayed by a person</td>
            </tr>
            <tr>
                <td>Changed_Credit_Limit</td>
                <td>Represents the percentage change in credit card limit</td>
            </tr>
            <tr>
                <td>Num_Credit_Inquiries</td>
                <td>Represents the number of credit card inquiries</td>
            </tr>
            <tr>
                <td>Credit_Mix</td>
                <td>Represents the classification of the mix of credits</td>
            </tr>
            <tr>
                <td>Outstanding_Debt</td>
                <td>Represents the remaining debt to be paid (in USD)</td>
            </tr>
            <tr>
                <td>Credit_Utilization_Ratio</td>
                <td>Represents the utilization ratio of credit card</td>
            </tr>
            <tr>
                <td>Credit_History_Age</td>
                <td>Represents the age of credit history of the person</td>
            </tr>
            <tr>
                <td>Payment_of_Min_Amount</td>
                <td>Represents whether only the minimum amount was paid by the person</td>
            </tr>
            <tr>
                <td>Total_EMI_per_month</td>
                <td>Represents the monthly EMI payments (in USD)</td>
            </tr>
            <tr>
                <td>Amount_invested_monthly</td>
                <td>Represents the monthly amount invested by the customer (in USD)</td>
            </tr>
            <tr>
                <td>Payment_Behaviour</td>
                <td>Represents the payment behavior of the customer (in USD)</td>
            </tr>
            <tr>
                <td>Monthly_Balance</td>
                <td>Represents the monthly balance amount of the customer (in USD)</td>
            </tr>


            </tbody>
        </table>

<br>
        The full definitions of these variables are available on kaggle.com<br><br>

        Credit score is one-hot encoded as 0,1, and 2.<br>
        The following figure represents the mix of credit score as found in the dataframe:<br>
        <!--<img src="{{url_for('static', filename='credit_score.png')}}"/>-->
        <!-- <img src="../Resources/credit_score.png"> -->
        <img src="{{ url_for('static', filename='credit_score.png') }}">
        <br><br>

        <b>Prediction:</b><br>
        We anecdotally assume that variables  to do with monetary value such as annual_income, outstanding_debt, num_of_loan will have the highest impact on credit_score outcome. 
        <br>After completion of our RF model, we run a feature importance function to check which variables have the highest weight on credit score outcomes. Theses outcomes are seen below:
        <br>
        <img src="{{ url_for('static', filename='prediction1.JPG') }}"><br><br>
        The top 4 variables that have the biggest outcome on credit score are:<br>
        interest _rate, num_credit_inquires, delay_from_due_date, credit_utilization_ratio. This is in contrast to what we thought would traditionally have the biggest outcomes on credit score.
        <br><br>We retrospectively tuned our ML algorithms based on the rf.feature importance outcomes. The fintesting and training scores are listed in the table below:
        <br><img src="{{ url_for('static', filename='prediction2.JPG') }}"><br><br>

    </ol>
    </ol>
</div>
<hr>

</body>
</html>
